html {
  height: 100%;
  background: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #f0f4f6;
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
}

.link-more {
  display: none;
}

@import url("https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:300,600");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
